body {
  background-color: rgb(238, 238, 238);
}

main {
  padding: 1rem;
  height: 100vh;
  max-width: 800px;
  margin: auto;
  background-color: white;
}

h1, h2 {
  margin: 0.2em 0;
}

ul.page-list > li {
  text-decoration: underline;
}

.split-box {
  width: 50%;
}

.right-lean {
  text-align: right;
  margin: auto;
}

.metadata-box > p {
  color: grey;
}

.split-box > span {
  text-decoration: underline;
}

.split-wrapping {
  display: flex;
}

.article-options {
  padding: 0.2em 0;
}

button {
  font-weight: 600;
  color: white;
  background: black;
  border: 0;
  padding: 0.5em;
}

.submit-button {
  margin: 1em 0;
}

form.all-width {
  max-width: 700px;
}

.all-width > label,input,textarea {
  width: 100%;
}